body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}
:focus {    outline: 0; }
ol, ul {  list-style: none; }
a img { border:none;}
a:link{}
a:hover{}
img{margin: 0}
*{outline: none;}
ol, ul, li {  list-style: none; }
:focus{outline:none;}
iframe{margin: 0; border : 0;}
body{
	color: white;
}


/* FORMULAIRE*/
.input_text{
	width: 300px;
	height: 20px;
	line-height: 20px;
	padding: 0 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 10px;
	display: block;
	margin-top: 13px;
}

.input_text:focus{
	border: 2px solid #017a01;
}

#first_input{
	margin-right: 20px;
}
#formulaire{
	width: 330px;
	height: 100px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -175px;
	text-align: center;
	z-index: 200;
}

.formulaire_top{
	width: 840px!important;
	height: 50px!important;
	background-color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: -5px!important;
	margin-top: 0!important;
	margin-left: -460px!important;
	padding: 0 20px;
}

.but_rechercher {
	width: 150px;
	height: 30px;
	margin-top: 10px;
 -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
 -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
 box-shadow:inset 0px 1px 0px 0px #caefab;
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
 background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
 background-color:#77d42a;
 -moz-border-radius:20px;
 -webkit-border-radius:20px;
 border-radius:20px;
 border:2px solid #268a16;
 display:inline-block;
 color:#306108;
 font-family:Verdana;
 font-size:15px;
 font-weight:bold;
 padding:3px 25px;
 text-decoration:none;
 text-shadow:1px 1px 0px #aade7c;
-webkit-transition:top 0.3s,border 0.5s,background 0.5s,float 0.5s;
-moz-transition:top 0.3s,border 0.5s,background 0.5s,float 0.5s;
-o-transition:top 0.3s,border 0.5s,background 0.5s,float 0.5s;
-ms-transition:top 0.3s,border 0.5s,	background 0.5s,float 0.5s;
transition:top 0.3s,border 0.5s,	background 0.5s,float 0.5s;
cursor: pointer;
}.but_rechercher:hover {
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
 background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
 background-color:#5cb811;
}.but_rechercher:active {
 position:relative;
 top:1px;
}


#conteneur{
	min-width: 150px;
	min-height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
}


#cercle{
	width: 150px;
	height: 150px;
	background-color: #fff;
	z-index: 150;
	position: absolute;
	top: -3px;
	left: -3px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	border: 3px solid #E79319;
	font-family: 'Holtwood One SC', serif;
	font-size: 1em;
	color: black;
	text-align: center;
}

.gramme{

	font-size: 1.7em;

}
#phrase{
	width: 150px;
	height: 100px;
	line-height: 30px;
	font-size: 0.8em;
	margin-top: 25px;
}

.trait{
	position: absolute;
	top: 50%;
	margin-top: 0;
	left: 50%;
	width: 80px;
	height: 5px;
	z-index: 140;
	background-color: hsl(96, 63%, 100%);
	transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	cursor: pointer;
}
.trait>img{
	width: 0;
	height: 0;
	position: absolute;
	top: -50px;
	right: -125px;
}


#velib{
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);

}

#transport{
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
#transport>img{
	-moz-transform: rotate(-270deg);
	-webkit-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

#pied{
	-moz-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}
#pied>img{
	-moz-transform: rotate(-315deg);
	-webkit-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    transform: rotate(-315deg);
}

#autolib{
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#autolib>img{
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#diesel{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#diesel>img{
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);-
}

#essence{
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#essence>img{
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#velib>img{
	-moz-transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
}


#information{
	height: 200px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 200px;
	margin-top: -100px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border: 3px solid #E79319;
	color: black;
		font-family: 'Holtwood One SC', serif;
	font-size: 1em;
	padding: 20px;
}

#infoTitle{
	width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 2em;
}
.info{
	width: 300px;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
}


.left{
	float: left !important;
}